/* Home page styling */
*{
    margin: 0;
    padding: 0;
}
.container::before{
    content: "";
    background: url("RR.jpg") no-repeat center center/cover;
    position: absolute;
    opacity: 0.7;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
}
.aside{
    display: flex;
    /* width:280px; */
    height: 100vh;
    background-color: rgb(47, 50, 51);
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease-in;
    position: absolute;
}
.icons{
    display: flex;
    margin: 0px auto;
}
.icon{
    margin: 10px;
    display: flex;
    flex-direction: column;

}
.icon a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Baloo 2', cursive;
}
.icon a:hover{
    font-size: 1.1rem;
}
.main{
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.image{
    width: 120px;
    height: 120px;
    border-radius: 80px;
    margin-top:20px ;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Baloo 2', cursive;
}
.navbar ul li a:hover{
    color: rgb(168, 164, 164);
}
.navbar ul li {
    text-decoration: none;
    list-style: none;
    padding: 25px 10px;
}
.name{
    font-size: 1.5rem;
    color: white;
    margin-top: 15px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
.copyright{
    color: white;
    font-size: 0.8rem;
    text-align: center;
    font-family: 'Baloo 2', cursive;
    margin-top: 60px;
}
.intro{
    font-size: 6rem;
    font-family: 'Libre Baskerville', serif;

}
.intro1{
    font-size: 3rem;
    font-family: 'Baloo 2', cursive;

}
.intro2{
    font-size: 2rem;
    font-family: 'Baloo 2', cursive;

}
.hamburger{
    display: flex;
    position: absolute;
    left: 10px;
    top: 5px;
}
.cr{
    width: 20px;
    height: 20px;
    background-color: white;
    cursor: pointer;
    margin-left: 165px;
}
.hm{
    width: 30px;
    height: 25px;
    cursor: pointer;
}
.sidebargo{
    transform: translate(-443px,0px);
    position: absolute;

}
@media (max-width:976px) {

    .container::before{
        background: url("new.jpeg") no-repeat center center/cover;
        opacity: 1;
    }
    .intro{
        font-size: 4rem;
        font-family: 'Libre Baskerville', serif;
        color: white;
    
    }
    .intro1{
        font-size: 2rem;
        font-family: 'Baloo 2', cursive;
        color: white;
    
    }
    .intro2{
        font-size: 1.5rem;
        font-family: 'Baloo 2', cursive;
        color: white;
    
    }
    .name{
        font-size:1.4rem ;

    }
    .icon{
        color: white;
    }
    .icon a{
        color:white;
        font-weight: normal;
    }
    
}
@media (max-width:488px) {
    .cr{
        margin-left:190px;

    }
    .intro{
        font-size: 3rem;
        font-family: 'Libre Baskerville', serif;
    
    }
    .intro1{
        font-size: 1.8rem;
        font-family: 'Baloo 2', cursive;
    
    }
    .intro2{
        font-size: 1.4rem;
        font-family: 'Baloo 2', cursive;
    
    }
    .image{
        width: 90px;
        height: 90px;
        border-radius: 80px;
        margin-top:30px ;
    }
    .name{
        font-size: 1.1rem;
    }
    .navbar ul li a{
        font-size: 1rem;
    }
    .copyright{
        font-size: 0.8rem;
    }
    .aside{
        width: 230px;
    }
}